Babel==2.5.1
blinker==1.4
certifi==2017.11.5
chardet==3.0.4
click==6.7
coverage==4.4.2
decorator==4.1.2
defusedxml==0.5.0
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.3.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
guess-language==0.2
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
jellyfish==0.5.6
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
nbformat==4.4.0
nltk==3.2.5
numpy==1.22.0
pandas==0.21.0
pbr==3.1.1
plotly==2.2.1
pycountry==17.9.23
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.3
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.15
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
Tempita==0.5.2
textblob==0.13.1
traitlets==4.3.2
twitter==1.18.0
urllib3==1.22
us==1.0.0
Werkzeug==0.12.2
Whoosh==2.7.4
WTForms==2.1
